/* src/index.css or src/globals.css */
:root {
    --background: 255, 255, 255;
    --copy-primary: 0, 0, 0;
    --cta: 0, 122, 255;
    /* etc */
  }
  
  .dark {
    --background: 20, 20, 20;
    --copy-primary: 255, 255, 255;
    --cta: 255, 59, 48;
  }
  